* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 100px;
  margin-top: 3em;
  font-family: "Amita", cursive;
  color: rgb(148, 6, 96);
}
